# Ad hoc folder for untracked files
untracked

# Annoying files
.DS_Store
Icon*

# Output directory
output/*

# Log files
wpan_debug.txt

# Compressed files
*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig